@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.product-title {
    margin: 0;
    font-size: 24px; /* Adjust font size as needed */
    color: #333; /* Adjust font color as needed */
    text-align: right; /* Align text to the right */
    .logo img {
    max-width: 50px; /* Adjust logo width as needed */
    flex-grow: 1; /* Allow the title to take up remaining space */
}

}

.logo-icon{
    max-width: 200px; /* Adjust logo width as needed */
    margin-right: 20px;
    margin-left: -20px;
}

.logo{
    order:1;
    font-size: 2rem;
    font-weight: 800;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:64px;
    margin-left: 50px;
    margin-right: 50px;
}

nav ul{
    display: flex;
    order:2;
}

nav ul a{
    color:black;
    font-size: 1em;
    margin-left: 2rem;
}


bordered-btn {
    background-color: transparent;
    border: 1px solid rgb(255, 145, 0);
    border-radius: 6px;
    padding: 4px 6px 4px;
  }
  



.container{
    height:600px;
    padding:20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.container img{
    width:100%;
    height: 500px;  
}

.hero-text h1{
    font-size: 3.3rem;
    margin-bottom: 8px;
    color: #8b4513;
}

.hero-text p{
    font-size: 1.4rem;
    margin-bottom: 12px;
}

button{
    padding: 1em 2.1em 1.1em;
    border-radius: 4px;
    margin: 8px;
    border: none;
    background-color: #e2e273;
    color: black;
    font-weight: 800;
    font-size: 0.85em;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0em -0.2rem 0em #e2e273 inset;  
    transition: color 3s ease-in-out;
}

button:hover{
    background-color: transparent;
    color: #8b4513;
    border: 3px solid #e2e273;
    cursor: pointer;
}

@media (max-width:848px) {
    .container {
        margin-top: 10px;
        flex-direction: column;
    }
    .hero-text {
        width: 100%;
        text-align: center;
    }
    .hero-text h1{
        font-size: 3rem;
    }
}

.main-image{
    border-radius: 10px;
}

