@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('ingredients-cooking-pasta-wooden-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    opacity: 0.7; 
    z-index: -1; 
}

.wrapper {
    width: 1000px;
    background: transparent;
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255,255,.2);
    text-align: center;
}

.wrapper h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper h2 {
    font-size: 20px;
    text-align: left;
    margin: 10px;
    color: #e2e273; 
}

.wrapper h3 {
    font-size: 20px;
    text-align: left;
    margin: 25px 0px 10px;
    color: #e2e273; 
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
    margin-top: 10px
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
    margin-top: 10px
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 45px;
    font-size: 14px;
    padding: 20px 45px 20px 20px;
    color: white;
    outline: none;
}

.input-box input::placeholder {
    color: white;
    font-size: 14px;
    padding: 20px 45px 20px 2px;
}

.button {
    width: 100%;
    border-radius: 45px;
    height: 30px;
    padding: 3px 20px;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 3px grey;
    text-align: center;
    margin: auto;
}

.button:hover {
    background: #333;
    color: #fff;
}

.fridge-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    column-count: 4;
    column-gap: 20px; 
    width: 100%;
    max-height: 100vh; 
    overflow-y: auto; 
}

.fridge-list-item {
    background-color: rgb(255, 255, 255);
    background: transparent;
    color: white;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    break-inside: avoid;
}

.footer {
    position: fixed;
    bottom: 15px;
    left: 1%;
    color: grey;
    font-size: 14px;
}

.footer .button{
    width: 100%;
    border-radius: 45px;
    height: 30px;
    padding: 10px 50px;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 3px grey;
    text-align: center;
    margin-right: 10px;
}

.footer .button:hover {
    background: #333;
    color: #fff;
}

.recipes {
    text-align: left;
}

#recipeList {
    list-style-type: none;
}