<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Fridge</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    

<h1>Virtual Fridge</h1>


<form id="addForm" class ="form">
    <h3>Add Ingredient:</h3>
    Name: <input type="text" id="addName">
    Quantity: <input type="number" id="addQuantity">
    <button class="button" type="submit">Add</button>
</form>


<form id="removeForm" class ="form">
    <h3>Remove Ingredient:</h3>
    Name: <input type="text" id="removeName">
    Quantity: <input type="text" id="removeQuantity">
    <button class = "button" type="submit">Remove</button>
</form>

<h3>Fridge Contents:</h3>
<ul id="fridgeContents"></ul>

<div class="footer">
    <a href="login.html"><button class="button" role="button">Logout</button></a>
</div>

<script>
    document.getElementById('addForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const name = document.getElementById('addName').value;
        const quantity = document.getElementById('addQuantity').value;

        fetch('/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                name: name,
                quantity: quantity
            })
        }).then(function() {
            updateFridge();
        });
    });

    document.getElementById('removeForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const name = document.getElementById('removeName').value;
        const quantity = document.getElementById('removeQuantity').value;

        fetch('/remove', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                name: name,
                quantity: quantity
            })
        }).then(function() {
            updateFridge();
        });
    });

    function updateFridge() {
        fetch('/view').then(response => response.json()).then(data => {
            const fridgeList = document.getElementById('fridgeContents');
            fridgeList.innerHTML = "";
            data.forEach(item => {
                fridgeList.innerHTML += `<li>${item[0]}: ${item[1]}</li>`;
            });
        });
    }

    updateFridge();
</script>

</body>
</html>
