<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>Account made!</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.
    min.css' rel='stylesheet'>
</head>

<body>

    <div class="wrapper">
        <form action = "/login" method = "post">
            <h3>Account Successfully Made!</h3>
            
            <a href="sign_in.html" style="display: inline-block; width: 100%; height: 45px; background: #fff; border: none; outline: none; border-radius: 40px; box-shadow: 0 0 10px rgba(0, 0, 0, 1); cursor: pointer; font-size: 16px; color: #333; font-weight: 600; text-align: center; line-height: 45px; text-decoration: none;" >Back to Login</a>
           
        </form>
    </div>
</body>
</html>