<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='styles/hero.css') }}" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href = "/login"><plain-btn>Login</plain-btn></a></li>
                <li><a href = "/register"><bordered-btn>Sign up</bordered-btn></a></li>
            </ul>
            <h1 class ="logo">Fridge</h1>
        </nav>

    </header>
    <main>
        <div class = "container">
            <img src = "{{ url_for('static', filename='images/foodback.jpg') }}" alt ="your image">
            <div class="hero-text">
                <h1>Make cooking easier</h1>
                <p>Find all the best recipes using Fridge. No more worrying about what you can or can't 
                    make when you have Fridge to help you out!
                </p>
                <button>Get Started</button>
            </div> 
        </div>
    </main>

</body>
</html>