<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Fridge</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/recipes.css') }}">
</head>
<body>
    <h1>RECIPE PAGE</h1>
    <h2>Available ingredients</h2>
    <ul id="fridgeContents"></ul> <!-- Container for the fridge list -->

    <h2>Recipes</h2>
    <ul id="recipeList"></ul> <!-- Container for the recipe list -->

    <script>
        function updateFridge() {
            fetch('/view')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const fridgeList = document.getElementById('fridgeContents');
                fridgeList.innerHTML = "";
                fridgeList.className = 'fridge-list';

                data.forEach(item => {
                    const listItem = document.createElement('li');
                    listItem.className = 'fridge-list-item';
                    listItem.innerHTML = `${item[0]}: ${item[1]}`;
                    fridgeList.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            updateFridge();
        });

        function updateRecipes() {
            fetch('/view_recipes')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(recipes => {
                const recipeList = document.getElementById('recipeList');
                recipeList.innerHTML = "";
                recipeList.className = 'fridge-list';

                recipes.forEach(recipe => {
                    const listItem = document.createElement('li');
                    listItem.className = 'fridge-list-item';
                    listItem.textContent = recipe;
                    recipeList.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        }

        document.addEventListener('DOMContentLoaded', (event) => {
        updateFridge();
        updateRecipes(); 
    });
    </script>

    <div class="footer">
        <a href="/" class="button" role="button">Logout</a>
        <a href="/fridge" class="button" role="button">Back to fridge</a>
</body>
</html>
