body {
    background-color: whitesmoke;
}

h1 {
    margin-left: 30%;
    margin-bottom: 50px;
    border-radius: 5px;
    width: 500px;
    border-width: 5px;
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white
}

.button {
    border-radius: 10px;
    padding: 2px 20px;
    background-color: gray;
    border-style: solid;
    border-color: gray;
    color: white;
}

.button:hover{
    opacity: 0.7;
}

.footer{
    position: fixed;
    bottom: 10px;
    left: 50%;
}

.form {
    margin-bottom: 10px;
    border-radius: 10px;
    bottom: 5px;
    border: 5px; /* Added 'solid black' to make the border visible */
    padding: 10px 10px;
    background-color: darkgray;
    color: black;
    width: 520px;  /* Set the width as desired */
    /* margin: 0; Optional: to center the form on the page */
}
